:root {
    --main-bg-color: #dcdde1;
    --main-btn-color: #487eb0;
    --main-btn-hover-color: #c0392b;
}

body {
  margin:0;
  padding:0;
  background-color: var(--main-bg-color);
}

.panel-btn-logout.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.panel-btn-logout {
  cursor: pointer;
  transition: 0.5s ease;
}

.panel-btn-logout, .p1, .p2, .p3, .p3:after {
  transition: 0.5s ease;
}

.panel-btn-logout:hover .p1,
.panel-btn-logout:hover .p2,
.panel-btn-logout:hover .p3,
.panel-btn-logout:hover .p3:after {
  border-color: var(--main-btn-hover-color) !important;
}

.panel-btn-logout .p1, .panel-btn-logout .p1 .p2 {
  width: 50px;
  height: 50px;
  border: 2px solid var(--main-btn-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-btn-logout .p1 .p2 {
  border-style: dashed;
  width: 40px;
  height: 40px;
  justify-content: flex-start;
}

.panel-btn-logout .p1 .p2 .border-p3 {
    height: 25px;
    width: 40px;
    position: absolute;
    margin-left: 15px;
    display: flex;
    align-items: center;
    background-color: var(--main-bg-color);
}

.panel-btn-logout .p1 .p2 .p3 {
  border: 1px solid var(--main-btn-color);
  width: 32px;
  height: 0;
  position: absolute;
}

.panel-btn-logout .p1 .p2 .p3:after {
  content: '';
  border-width: 0 2px 2px 0;
  border-style: solid;
  border-color: var(--main-btn-color);
  width: 8px;
  height: 8px;
  position: absolute;
  transform: rotate(-45deg);
  margin-top: -5px;
  right: -2px;
}
